{% extends "base.html" %}
{% load static %}
{% block "title" %}edit profile{% endblock "title" %}
{% block "content" %}

<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Edit Profile</h1>
          <p class="mb-0">Edit UR Profile</p>
        </div>
        <p></p>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <p><button type="submit">save</button></p>
      </form>
      {% for message in messages %}
      <p>
        <h2 data-aos="fade-up">{{ message }}</h2>
      </p>
      {% endfor %}

      </div>
      
    </div>
  </div>
</div><!-- End Page Title -->

{% endblock "content" %}