{% extends "base.html" %}
{% load static %}
{% block "title" %}Login{% endblock "title" %}
{% block "content" %}

<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Done!</h1>
          <p class="mb-0">Password reset succssecfuly</p>
          <p><a href={% url "accounts:login" %}>Login</a></p>
        </div>
        <p></p>
      </div>
      
    </div>
  </div>
</div><!-- End Page Title -->

{% endblock "content" %}
