{% extends "base.html" %}
{% load static %}
{% block title %}Portfolio{% endblock title %}
{% block "content" %}

 
 <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Portfolio</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Portfolio</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <div class="container">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="{% if not request.GET.category %}filter-active{% endif %}">
              <a href="{% url 'portfolio:portfolio' %}">All</a>
          </li>
          {% for category in categories %}
              <li data-filter=".filter-{{ category.title|lower }}" class="{% if request.GET.category == category.title %}filter-active{% endif %}">
                  <a href="{% url 'portfolio:portfolio' %}?category={{ category.title|lower }}">{{ category.title }}</a>
              </li>
          {% endfor %}
      </ul>
      
      <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
          {% for portfolio in portfolios %}
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item 
              {% for category in portfolio.category.all %} filter-{{ category.title|lower }} {% endfor %}">
                  <img src="{{ portfolio.img1.url }}" class="img-fluid" alt="{{ portfolio.title }}">
                  <div class="portfolio-info">
                      <h4>{{ portfolio.title }}</h4>
                      <p>{{ portfolio.desc1|truncatechars:50 }}</p>
                      <a href="{{ portfolio.img1.url }}" title="{{ portfolio.title }}" data-gallery="portfolio-gallery" class="glightbox preview-link">
                          <i class="bi bi-zoom-in"></i>
                      </a>
                      <a href="{% url 'portfolio:portfolio-details' portfolio.id %}" title="More Details" class="details-link">
                          <i class="bi bi-link-45deg"></i>
                      </a>
                  </div>
              </div>
          {% endfor %}
      </div>
      
      {% if portfolios.paginator.num_pages > 1 %}
          <div>
              {% if portfolios.has_previous %}
                  <a href="?page=1"><button>First page</button></a>
                  <a href="?page={{ portfolios.previous_page_number }}"><button>Previous page</button></a>
              {% endif %}
      
              {% if portfolios.has_next %}
                  <a href="?page={{ portfolios.next_page_number }}"><button>Next page</button></a>
                  <a href="?page={{ portfolios.paginator.num_pages }}"><button>Last page</button></a>
              {% endif %}
          </div>
          <span>Page {{ portfolios.number }} of {{ portfolios.paginator.num_pages }}</span>
      {% endif %}
      
        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1,
                      "spaceBetween": 40
                    },
                    "1200": {
                      "slidesPerView": 1,
                      "spaceBetween": 1
                    }
                  }
                }
              </script>
              {% comment %} کار نمیکند {% endcomment %}
  {% for agent in all_agents %}
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial mx-auto">
                    <figure class="img-wrap">
                      <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                    <h3 class="name">{{ agent.name}}</h3>
                    <blockquote>
                      <p>
                        “There live the blind texts. Separated they live in
                        Bookmarksgrove right at the coast of the Semantics, a large
                        language ocean.”
                      </p>
                    </blockquote>
                  </div>               
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Testimonials Section -->
    {% endfor %} 
  </main>

{% endblock "content" %}