{% extends "base.html" %}
{% load static %}

{% block title %} {{ portfolio.title }}{% endblock title %}
{% block "content" %}

 <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Portfolio Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href={% url "root:home" %}>Home</a></li>
            <li class="current">Portfolio Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              },
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src={{portfolio.img1.url}} alt="">
            </div>

            <div class="swiper-slide">
              <img src={{portfolio.img1.url}} alt="">
            </div>

            <div class="swiper-slide">
              <img src={{portfolio.img1.url}} alt="">
            </div>

          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4 mt-4">
          
          <div class="col-lg-8" data-aos="fade-up">
            <div class="portfolio-description">
              <h2>{{portfolio.title}}</h2>
              <p>
                {{portfolio.desc1}}
              </p>

              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>{{agent.content}}</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                  <img src={{agent.image.url}} class="testimonial-img" alt="">
                  <h3>{{agent.name}}</h3>
                  <h4><p> {{ portfolio.agent.skill.skill }}</p></h4>
                </div>
              </div>
              <p>
                {{portfolio.desc2}}
              </p>
            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>

                <li><strong>Category</strong> {{portfolio.category}}</li>

                <li><strong>Client</strong> {{portfolio.client}}</li>
                {% load humanize %}
                <li><strong>Project date</strong> {{portfolio.updated_at|date:"d F, Y" }}</li>
                <li><strong>Project URL</strong> <a href="#">{{portfolio.project_url}}</a></li>
                <li><a href={{portfolio.project_url}} class="btn-visit align-self-start">Visit Website</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>

  {% endblock "content" %}