{% extends "base.html" %}
{% load static %}
{% block "content" %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Blog</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Blog Posts 2 Section -->
    <section id="blog-posts-2" class="blog-posts-2 section">

      <div class="container">

        <div class="row gy-5">
          {% for blog in blogs %}
          <div class="col-lg-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{{blog.img1.url}}" alt="" class="img-fluid">
              </div>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-dot"></i> <a href="blog-details.html"><time datetime="2022-01-01">{{blog.updated_at}}</time></a></li>
                </ul>
              </div>

              <h2 class="title">
                <a href={% url "blogs:blogs_details" pk=blog.id%}>{{blog.title}}</a>
              </h2>

            </article>
          </div><!-- End post list item -->
          {% endfor %}

        </div><!-- End blog posts list -->

      </div>

    </section><!-- /Blog Posts 2 Section -->

    {% if page_obj.has_next and page_obj.has_previous %}
      <div class="container section-title">
        <a href={% url 'blogs:blogs' %}?page={{first}}><button>first page</button>
        <a href={% url 'blogs:blogs' %}?page={{blogs.previous_page_number}}><button>prev pag</button>
        <a href={% url 'blogs:blogs' %}?page={{blogs.next_page_number}}><button>next page</button>
        <a href={% url 'blogs:blogs' %}?page={{last}}><button>last page</button>
      </div>
      {% comment %} {% elif blogs.has_next %} {% endcomment %}
      {% elif page_obj.has_next %}
      <div class="container section-title">
        <a href={% url 'blogs:blogs' %}?page={{page_obj.next_page_number}}><button>next page</button>
        <a href={% url 'blogs:blogs' %}?page={{last}}><button>last page</button>
      </div>
      {% comment %} {% elif blogs.has_previous %} {% endcomment %}
      {% elif page_obj.has_previous %}
      <div class="container section-title">
        <a href={% url 'blogs:blogs' %}?page={{first}}><button>first page</button>
        <a href={% url 'blogs:blogs' %}?page={{page_obj.previous_page_number}}><button>prev page</button>
      </div>
      {% endif %} 

    {% comment %} <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

      <div class="container">
        <div class="d-flex justify-content-center">
          <ul>
            <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="active">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>...</li>
            <li><a href="#">10</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>

    </section><!-- /Blog Pagination Section --> {% endcomment %}

  </main>
{% endblock "content" %}
